{% extends 'client_layout.html' %}
{% block body %}
<div id="agent" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for i in range(all_agent['totalResult']) %}
        <div class="carousel-item {% if i == 0 %} active {% endif %}" data-bs-interval="6000">
            <br>
            <img class="img-fluid mb-2 img" alt="100%x280" src="{{ url_for('static', filename='image/agent/'+all_agent['result'][i]['image'][1]) }}">
            <div class="carousel-caption">
                <div class="col-3 infoagent">
                    <h1 class="text-danger t">{{ all_agent['result'][i]['name'] }}</h1>
                    <p class="text-white t">{{ all_agent['result'][i]['biography'] }}</p>
                    <a href="/client/agent/{{ all_agent['result'][i]['id'] }}">
                        <button class="btn btn--light">
                            <span class="btn__inner">
                                <span class="btn__slide"></span>
                                <span class="btn__content">DETAIL</span>
                            </span>
                        </button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#agent" data-bs-slide="prev">
        <i class="fas fa-angle-left fa-3x"></i>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#agent" data-bs-slide="next">
        <i class="fas fa-angle-right fa-3x"></i>
    </button>
</div>

{% endblock %}