{% extends 'api_layout.html' %}

{% block body %}
    <div class="card border" style="margin-left: 450px; width:40%; margin-top: 180px; background-color: rgba(0, 0, 0, 0.8);">
        <div class="card-body text-center">
          <h1 class="card-title text-white t">GET API KEY</h1>
          <br>
          {% if key %}
            <h2 class="text-white t">{{ key }}</h2>
          {% else %}
            <form action="" method="POST">
              <button class="btn btn--light" type="submit">
                <span class="btn__inner">
                  <span class="btn__slide"></span>
                  <span class="btn__content">GET API KEY</span>
                </span>
              </button>
            </form>
          {% endif %}
        </div>
      </div>
{% endblock %}