{% extends 'client_layout.html' %}
{% block body %}
<div id="MAP" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for i in range(all_map['totalResult']) %}
            <div class="carousel-item {% if i == 0  %} active {% endif %}">
                <img class="img-fluid" alt="100%x280" src="{{ url_for('static', filename='image/map/'+all_map['result'][i]['image'][0]) }}">
                <div class="carousel-caption d-none d-md-block">
                    <div class="info">
                        <h5 class="text-danger t" style="font-size: 48px;">{{ all_map['result'][i]['name'] }}</h5>
                        <p>{{ all_map['result'][i]['description'] }}</p>
                        <a href="/client/map/{{ all_map['result'][i]['id'] }}">
                            <button class="btn btn--light">
                                <span class="btn__inner">
                                    <span class="btn__slide"></span>
                                    <span class="btn__content">DETAIL</span>
                                </span>
                            </button></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev " type="button" data-bs-target="#MAP" data-bs-slide="prev">
        <i class="fas fa-angle-left fa-3x"></i>
    </button>
    <button class="carousel-control-next " type="button" data-bs-target="#MAP" data-bs-slide="next">
        <i class="fas fa-angle-right fa-3x"></i>
    </button>
</div>
{% endblock %}