{% extends 'client_layout.html' %}
{% block body %}
<div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="row">
            <div class="text-center" style="margin-top: 20px;">
                <p class="t" style="font-size: 75px; color:red ">AGENT</p>
            </div>
            <div class="container rounded-1" style="background-color: rgba(255, 255, 255, 0.8); width:80%;">
                <div class="mt-3 mb-3">
                    <form action="" method="POST">
                        <div class="row mt-3">
                            <div class="col-md-5 mt-3">
                                <div class="input-group rounded">
                                    <input type="text" name="agentName" class="form-control rounded" placeholder="ชื่อ Agent"
                                        aria-label="Search" aria-describedby="search-addon" />
                                </div>
                            </div>
                            <div class="col-md-5 mt-3">
                                <select class="form-select t" name="agentType" aria-label="Default select example">
                                    <option selected>เลือกตำแหน่ง</option>
                                    <option value="DUELIST">DUELIST</option>
                                    <option value="CONTROLLER">CONTROLLER</option>
                                    <option value="INITIATOR">INITIATOR</option>
                                    <option value="SENTINEL">SENTINEL</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn--light">
                                    <span class="btn__inner">
                                        <span class="btn__slide"></span>
                                        <span class="btn__content t">SEARCH</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>

                    {% if agents %}
                        <table class="table mt-3 ">
                            <tbody>
                                {% for agent in agents['result'] %}
                                    <tr>
                                        <td rowspan="2" class="text-center" style="width:10%;">
                                            <a href="/client/agent/{{ agent['id'] }}"><img class="rounded" src="{{ url_for('static', filename='image/agent/'+agent['image'][2]) }}" alt="..."
                                                    style="width: 10rem;"></a>
                                        </td>
                                        <td colspan="2" class="text-left" style="height: 10%;">
                                            <h3 class="t text-danger mt-3" style="font-size: 48px;">{{ agent['name'] }}</h3>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="2" class="text-left">
                                            <p class="t text-black">{{ agent['biography'] }}
                                            </p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}