{% extends 'client_layout.html' %}
{% block body %}
<br>
<div class="container">
    <div class="card" style="background-color: rgb(0, 0, 0);">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6 mt-5 ">
                    <img class="img-fluid mb-2" alt="100%x280" src="{{ url_for('static', filename='image/map/'+map['result'][0]['image'][0]) }}">

                    <img class="img-fluid mb-5 mt-5 ml-5 " alt="100%x280" src="{{ url_for('static', filename='image/map/'+map['result'][0]['image'][1]) }}">
                </div>
                <div class="details col-md-6 mt-5 mb-3">
                    <h1 class="t text-danger">{{ map['result'][0]['name'] }}</h1>
                    <div class="col-10">
                        <hr>
                    </div>
                    <div class="col-10 text-white" style="font-size: 18px;">
                        <p>{{ map['result'][0]['description'] }}</p>
                    </div>
                    <br>
                    <div class="col-10">
                        <hr>
                    </div>
                    <h1 class="t text-danger">RECOMMENDED AGENT</h1>
                    <div class="col-10">
                        <hr>
                    </div>
                    <div id="agent" class="carousel carousel-dark slide" data-bs-ride="carousel">

                        <div class="carousel-inner">
                            {% for i in range(agent_total) %}
                                <div class="carousel-item {% if i == 0 %} active {% endif %}" data-bs-interval="6000">
                                    <br>
                                    <img class="img-fluid mb-2 imgagent" alt="100%x280" src="{{ url_for('static', filename='image/agent/'+agents[i]['image'][1]) }}">
                                    <div class="carousel-caption">
                                        <div class="col-12 nameagent">
                                            <h1 class="text-danger t">{{ agents[i]['name'] }}</h1>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}                            
                            <button class="carousel-control-prev " type="button" data-bs-target="#agent"
                                data-bs-slide="prev">
                                <i class="fas fa-angle-left fa-3x"></i>
                            </button>
                            <button class="carousel-control-next " type="button" data-bs-target="#agent"
                                data-bs-slide="next">
                                <i class="fas fa-angle-right fa-3x"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
